#one{
border-radius: 15px 50px;
width:240px;
height:240px;
}
#two{
color:orange;
}
#tw{
border-radius: 15px 50px;
width:240px;
height:240px;
}
#line{
color:orange;
}
.o{
background:DarkSlateGray;

}
.t{
background:CadetBlue;
}
.tk{
background:DarkCyan;
}
a.h:link,a.h:visited{
color:white;
text-decoration:none;
}
a.he:link,a.he:visited{
color:yellow;
text-decoration:none;
}
a.ho:link,a.ho:visited{
color:gold;
text-decoration:none;
}
